* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/5523746e6ecac_thumb900.jpg);
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: contain;
    background-position: center;

}

h1 {
    margin: 5vh;
    text-shadow: 3px 3px 3px lightgray;
    font-size: 4rem;
}

#index, #find { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding : 1vh;
    border-radius: 5px;
    border: 3px solid lightgray;
    outline: none;
    font-weight: bold;
}

#index:hover, #find:hover {
    background-color: rgb(186, 190, 245);
    color: white;
    box-shadow: 10px 21px 51px 4px rgb(216, 180, 201);
    font-size: 0.9rem;
}

#index {
    margin-right: 1vh;
    margin-bottom: 5vh;
}

p {
    color: white;
    font-size: 2.75rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#result {
    font-size: 2.75rem;
    color: brown;
}